# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignores bin
bin

# Added input files that are local to your machine
src/main/resources/inputFiles_ignored/*

src/main/resources/chunks
